* {margin:0;padding:0}
ul {list-style:none}
a {text-decoration:none;color:#333}
a:hover {text-decoration:underline;color:#419ddb}
button {display:inline-block;padding:10px;border:0 none;border-radius:10px;background:#e1e1e1;cursor:pointer}
button:hover {background:#419ddb}
.wrap {width:1000px;margin:70px auto 0;padding-bottom:50px}
.wrap h1 {margin-bottom:30px;}
.btn-box {margin-top:-50px;float:right}        
.postList {border:1px solid #d5d5d5;border-top:0 none}
.postList li {padding:1rem;border-top:1px solid #d5d5d5}
.postList .nopost {text-align:center;color:#888
}
.postList li.new:after {content:'new';float:right;font-size:11px;color:red;}
.postList li span {display:inline-block;width:100px;margin-right:10px;color:#2769ce}
.postList li span:before {content:'[ '}
.postList li span:after {content:' ]'}
.viewAll {display:none}

@media all and (max-width:800px) {
	.wrap {width:auto;margin:50px 15px 0;}
	.wrap h1 {margin-bottom:80px;font-size:1.6rem;text-align:center}
	button {font-size:13px}            
	.postList li {position:relative}
	.postList li.new:after {position:absolute;right:10px;top:10px;float:none}
	.postList li a {display:block;margin-top:10px;font-size:0.9rem;line-height:1.6}
}